@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    background-color: #007f5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* getting rid of horizontal scroll */
    overflow-x: hidden;  
}

h1{
    color: #d8f3dc;
    margin: 50px;
}

.box{
    background-color: #55a630;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #1b4332;
    box-shadow: 2px 4px 5px rgba(0 0 0 0.3);
    transform: translateX(400%);
    transition: transform .3s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}